* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    color: black;
    background: #fff;
}

.flex {
    display: flex;
}

header {
    width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

header ul {
    width: 40%;
}

header ul li {
    flex: 1;
    background: orange;
    padding: 6px;
    border: 1px solid #ffffff;
}

header ul li a {
    color: #fff;
    font-size: 18px;
}

header ul li:hover {
    color: blue;
    background: brown;
}