@import url(/reset.css);

* {
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100vh;
}

article {
    width: 50%;
    height: 100%;
}


.flex {
    display: flex;
}


.column {
    width: 50%;
    height: 100%;
    text-align: center;
}

.summary1 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;
    top: 50%;
}

.summary img {
    width: 40%;
}

.attach-bg1 {
    background-image: url(/반응형2/images/sect1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:right top;
    background-size: 50% top;
    width: 100%;
    height: 100%;
}


.attach-bg2 {
    background-image: url(/반응형2/images/sect2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
}

.summary2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.summary2 h2 {
    font-size: 100px;
}

.summary2 p {
    font-size: 25px;
}

.summary2 .button {
    line-height: 100px;
    padding: 12px;
    background: #000;
}

.summary2 .button:hover {
    background: #FB7575;
    color: #000;
}


#sect3 h3 {
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

.sect3-wrap {
    width: 100%;
    height: 890px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sect3-inner {
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.sect3-inner .box1 {
    background-image: url(/반응형2/images/sect3-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.sect3-inner .box2 {
    background: #FB7575;
    color: #fff;
    width: 18%;
    height: 60%;
}

.sect3-inner .box3 {
    background-image: url(/반응형2/images/sect3-2.jpg);
    width: 18%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.sect3-inner .box4 {
    background-image: url(/반응형2/images/sect3-3.jpg);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.sect3-inner .box5 {
    background-image: url(/반응형2/images/sect3-4.jpg);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.sect3-inner .box8 {
    display: flex;
    width: 32%;
    height: 27%;
}

.sect3-inner .box6 {
    background-image: url(/반응형2/images/sect3-5.jpg);
    width: 32%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.sect3-inner .box7 {
    width: 32%;
    height: 23%;
    background: #FB7575;
    color: #fff;
}
/* 4 */

#sect4 {
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

.sticky-bg {
    background-image: url(/반응형2/images/sect4.jpg);
    background-position: left top;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}

.art1 .desc {
    width: 50%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.desc-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}

.desc-wrap h3 {
    line-height: 100px;
    font-size: 60px;
}

.desc-wrap p {
    font-size: 25px;
}

.desc-wrap a {
    width: 60px;
    font-size: 18px;
    line-height: 90px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    padding: 10px;
}

#sect4 .product1,
#sect4 .product2 {
    width: 50%;
    height: 100%;
}

.summary3 {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
}

.summary3 ul {
    text-align: center;
}

.sumup1 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 20%;
    text-align: center;
}

.sumup1 h3 {
    font-size: 40px;
}

.sumup1 p {
    font-size: 18px;
    line-height: 50px;
}

.sumup1 a {
    line-height: 50px;
    border: 1px solid #000;
    padding: 10px;
}

.product1 figure img {
    width: 100%;
}

.product1 li img {
    width: 50%;
}

.product2 figure img {
    width: 100%;
}



.summary4 {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
}

.summary4 ul {
    width: 100%;
    text-align: center;
}

.summary4 ul li {
    width: 50%;
}

.summary4 ul li img {
    width: 80%;
}

.sumup2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 20%;
    text-align: center;
}

.sumup2 h3 {
    font-size: 40px;
}

.sumup2 p {
    font-size: 18px;
    line-height: 50px;
}

.sumup2 a {
    line-height: 50px;
    border: 1px solid #000;
    padding: 10px;
}

/* 5 */

#sect5 {
    width: 100%;
    height: 100%;
}

.sticky-bg2 {
    background-image: url(/반응형2/images/sect5.png);
    background-position: right top;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    margin-top: 100%;
}

.art1 .desc2 {
    width: 50%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.desc-wrap2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.desc-wrap2 h3 {
    line-height: 100px;
    font-size: 50px;
}

.desc-wrap2 p {
    font-size: 20px;
}

.desc-wrap2 a {
    width: 60px;
    font-size: 18px;
    line-height: 90px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    padding: 10px;
}


#sect5 .product3,
#sect5 .product4 {
    width: 50%;
    height: 100%;
}

.summary5 {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
}

.summary5 ul {
    text-align: center;
}

.sumup3 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 20%;
    text-align: center;
}

.sumup3 h3 {
    font-size: 40px;
}

.sumup3 p {
    font-size: 18px;
    line-height: 50px;
}

.sumup3 a {
    line-height: 50px;
    border: 1px solid #000;
    padding: 10px;
}

.product3 figure img {
    width: 100%;
}

.product3 li img {
    width: 70%;
}

.product4 figure img {
    width: 100%;
}

.summary6 {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
}

.summary6 ul {
    width: 100%;
    text-align: center;
}

.summary6 ul li {
    width: 50%;
}

.summary6 ul li img {
    width: 80%;
}

.sumup4 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 20%;
    text-align: center;
}

.sumup4 h3 {
    font-size: 40px;
}

.sumup4 p {
    font-size: 18px;
    line-height: 50px;
}

.sumup4 a {
    line-height: 50px;
    border: 1px solid #000;
    padding: 10px;
}

/* 6 */



@media screen and (max-width: 640px) {}

@media screen and (min-width:641px) {}